body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  background: #f4f4f4;
}
 
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Allow wrapping on small screens */
  margin-bottom: 20px;
  background: #c9c3c3;
}
 
.header-left {
  margin: 0;
  margin-top: 5px;
  padding: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
  flex: 1; /* Allow left header to take available space */
}
 
.header-right {
  text-align: right;
  margin: 0;
  margin-top: 5px;
  padding: 10px;
  margin-bottom: 5px;
  margin-right: 5px;
  flex: 1; /* Allow right header to take available space */
 
}
 


 